################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoIdentityDefault/.vs/DemoIdentityDefault
/DemoIdentityDefault/DemoIdentityDefault.UI/bin
/DemoIdentityDefault/packages
/DemoIdentityDefault/DemoIdentityDefault.UI/obj/Debug
